@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background-color: aliceblue;
}

.wrapper {
  margin-top: 30px;
  width: 400px;
  height: 660px;
  background-color: #fbecd7;
  border-radius: 15px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

header {
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #f4d03f;
  border-radius: 0 20px 20px 0;
  max-width: 350px;
}

h1 {
  color: #fff;
  font-size: 35px;
}

.date {
  color: #fff;
  font-size: 20px;
}

.slider {
  position: absolute;
  display: flex;
  column-gap: 20px;
  height: 80px;
  padding: 10px 20px 15px;
  border-bottom: 1px solid #f4d03f;
}

.slide {
  width: 200px;
  height: max-content;
  background-color: #fff;
  box-shadow: 10px 10px 22px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.slide-title {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.slide-title > h3 {
  font-size: 15px;
  font-weight: 200;
}

.slide button {
  margin-top: 5px;
  margin-left: 170px;
  cursor: pointer;
  background-color: #fff;
  border: 0.5px #e74c3c solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
}

.slide:first-child {
  background-color: #e74c3c;
}

.slide:first-child > .slide-title {
  background-color: #cb4335;
  color: #fff;
}

.slide svg {
  width: 16px;
}

.todo {
  margin-top: 90px;
}

.todo-item {
  margin-top: 10px;
  display: flex;
  padding: 5px 20px;
}

.todo-item__wrapper {
  width: 90%;
  margin-left: 20px;
}

.todo-item__info {
  display: flex;
  justify-content: space-between;
}

.todo svg {
  width: 30px;
}
